@charset "UTF-8";

@import "lib/_util";
@import "lib/_gallery";
@import "lib/_arrow";
@import "lib/_color";
@import "lib/_fonts";

html { font-size: 62.5%; }

body {
  font-size: 1.3rem;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  font-family: $sans-serif;
  line-height: 1.4;
}

strong, em {
  font-style: normal;
  font-weight: bold;
}

address {
  font-style: normal;
}

/*** Form ***/

input {
  &[type="text"],
  &[type="search"],
  &[type="tel"],
  &[type="email"],
  &[type="password"] {
    padding: .4em .5em;
    font-size: 16px;
  }

  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
  }
}

textarea {
  padding: .4em .5em;
  font-size: 16px;
}

/*** Fonts ***/

.sans-serif { font-family: $sans-serif; }
.serif      { font-family: $serif; }


/*** Icon Fonts ***/

i[class^="icon"], i[class*=" icon"] {
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}


/*** text-align ***/

.ta_left   { text-align: left !important; }
.ta_center { text-align: center !important; }
.ta_right  { text-align: right !important; }


/*** font-size ***/

@for $i from 10 through 32 {
  .fz_#{$i}px {
    font-size: $i * 1px;
  }
}


/*** width ***/

.w05 { width: 5%; }
@for $i from 2 through 19 {
  .w#{$i*5} { width: $i*5%; }
}


/*** margin-bottom ***/

.mb05 { margin-bottom: 5px; }
@for $i from 2 through 20 {
  .mb#{$i*5} { margin-bottom: $i*5px; }
}
@for $i from 1 through 40 {
  .mb#{$i*10 + 100} { margin-bottom: ($i * 10px + 100px); }
}

/*** link color ***/

a {
  &:link, &:visited, &:hover, &:active {
    color: inherit;
    text-decoration: none;
  }
}


/*** Clear ***/

.clear { clear: both; }
.clearfix { @include clearfix; }

